{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container bg-creamy mt-4">
    <div class="row pb-5">
      <div class="col-12 col-md-6">
        <h1>Have a Craving?</h1>
        <h2>Go Nuts!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, veritatis laboriosam cumque ducimus sapiente iure.
          Recusandae iure optio explicabo repudiandae excepturi iste, cupiditate tempora pariatur, amet, sequi nulla laboriosam
          consequuntur?</p>
          <button class="btn-green">Shop Now</button>
      </div>
      <div class="col-12 col-md-6"> <img class="landing-section-image" src="{% static 'media/landing_section.jpg' %}" alt="Nuts"> </div>
    </div>
  </section>
  <section class="container-fluid categories-section">
    <h3>What are you nuts About?</h3>
    <div class="row py-5 px-3">
      <div class="col d-flex flex-column justify-content-center align-items-center">
          <a href="{% url 'products' %}?category=nuts">
              <img src="https://www.ofi.com/content/dam/olamofi/products-and-ingredients/nuts/nuts-images/ofi-nuts-one.jpg"
                  alt="nuts">
          </a>
          <span>
              NUTS
          </span>
      </div>
      <div class="col d-flex flex-column justify-content-center align-items-center">
          <a href="{% url 'products' %}?category=dry-fruits">
              <img src="{% static 'media/dry_fruits.jpg' %}"
                  alt="dry fruits">
          </a>
          <span>
              DRY FRUITS
          </span>
      </div>
      <div class="col d-flex flex-column justify-content-center align-items-center">
          <a href="{% url 'products' %}?category=organic-products">
              <img src="{% static 'media/organic_fruits.jpg' %}"
                  alt="organic fruits">
          </a>
          <span>
              ORGANIC PRODUCTS
          </span>
      </div>
      <div class="col d-flex flex-column justify-content-center align-items-center">
          <a href="{% url 'products' %}?category=seeds">
              <img src="{% static 'media/seeds.jpg' %}"
                  alt="">
          </a>
          <span>
              SEEDS
          </span>
      </div>
      
    </div>
  </section>
{% endblock %}
