{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <section class="container-fluid my-5">
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>My Profile</b></h4></div>
                            <div class="col align-self-center text-right text-muted">{{ profile }}</div>
                        </div>
                    </div>
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">

                        </div>

                    </div>
                    <div class="back-to-shop"><a href="{% url 'products' %}">&leftarrow; <span class="text-muted">Back to shop</span></a></div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Order history</b></h5></div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
{% endblock %}