

/* -------------------------------------- Colors */
.text-white, a {
    color: #ffffff !important;
}

.normal-text-color {
    color: #e9e7f9;
}

.text-green {
    color: #0dd345 !important;
}

.bg-green {
    background-color: #0dd345;
}

.bg-blue {
    background-color: #35365d;
}

.bg-sky-blue {
    background-color: #1b91bd;
}

.btn-green {
    color: #fff !important;
    background-color: #0dd345 !important;
    border-color: #0dd345 !important;
}

/* -------------------------------------- Navbar */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 211, 69, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: #0dd345;
  }

.categories-list {
    list-style: none;
}

.nav-link:hover i {
    color: #0dd345;
}