{% extends 'base.html' %}
{% load static %}
{% load product_tags %}


{% block content %}

{% load crispy_forms_tags %}
    <section class="container bg-creamy py-1 my-3">
    <div class="row my-5">
        <div class="col-12 col-md-6">
            {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ prodcut.name }}">
                {% else %}
                    <img src="https://cdn.pixabay.com/photo/2016/08/04/09/05/coming-soon-1568623__340.jpg" alt="image comming soon">
                {% endif %}
        </div>
        <div class="col-12 col-md-6">
            <h3>{{ product.name }}</h3>
            <p>${{ product.price }}</p>
            <div class="d-flex flex-row user-ratings mb-3 align-items-center">
                <div class="ratings">
                    {% for star in star_range %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                </div>
                <h6 class="text-muted ml-1">{{ avg }}/5</h6>
                <a href="#write-review" class="btn btn-light-blue"><i class="fa-solid fa-pen"></i> Write a review</a>
            </div>
            <p>
                {{ product.description }}
            </p>
            {% if request.user.is_superuser %}
                    <a class="btn btn-green my-3" href="{% url 'edit_product' product.id %}">Edit</a>
                    
                    <!-- Button trigger modal -->
                    <button title="Delete Product" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ product.id }}">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body" id="myinput">
                            <p>Are you sure you want to delte this product?</p>
                            <p>This action <strong>cannot</strong> be undone!</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <a href="{% url 'delete_product' product.id %}" class="btn btn-primary">Yes</a>
                            </div>
                        </div>
                        </div>
                    </div>
            {% else %}
                    <a class="btn btn-green my-3" href="#">Add to cart</a>
                    {% if is_wished_product == 0 %}
                        <a href="{% url 'add_to_wishlist' product.id %}" title="Add to wishlist" class="btn wishlist-btn">
                            <i class="fa-regular fa-heart"></i>
                        </a>
                    {% else %}
                        <a href="{% url 'remove_from_wishlist' product.id %}" title="Remove from wishlist" class="btn wishlist-btn">
                            <i class="fa-solid fa-heart"></i>
                        </a>
                    {% endif %}
            {% endif %}
        </div>
    </div>
  </section>
  <section class="container-fluid my-3">
    <h1>You may also like:</h1>
    <div class="row">
        {% for product in related_products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch my-3">
            <div class="card product-card">
                <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ prodcut.name }}">
                {% else %}
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/08/04/09/05/coming-soon-1568623__340.jpg" alt="image comming soon">
                {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }} <br> ${{ product.price }}</h5>
                    <div>
                        <p class="card-text">This is a test for the products cards</p>
                    </div>
                    {% if request.user.is_superuser %}
                        <a class="btn btn-green my-3" href="{% url 'edit_product' product.id %}">Edit</a>

                        <!-- Button trigger modal -->
                        <button type="button" title="Delete Product" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ product.id }}">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body" id="myinput">
                                <p>Are you sure you want to delte this product?</p>
                                <p>This action <strong>cannot</strong> be undone!</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-primary">Yes</a>
                                </div>
                            </div>
                            </div>
                        </div>

                    {% else %}
                        <a class="btn btn-green my-3" href="#">Add to cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </section>

  <section class="container-fluid my-3">
    <h3 class="font-weight-bold">Customer Reviews</h3>
    {% for rating in product_ratings %}
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-row user-ratings">
                <div class="ratings">
                {% for star in rating.rating|calc_stars %}
                <i class="fa fa-star"></i>
                {% endfor %}
                </div>
            </div>
            <p class="font-weight-bold text-green">{{ rating.title }}</p>
            <p class="text-muted">{{ rating.user.username }} on {{ rating.date_added|date:'Y-m-d' }}</p>
            <p>{{ rating.comment }}</p>
        </div>
    </div>
    <hr class="text-green">
    {% endfor %}
    <div class="row justify-content-center" id="write-review">
        {% if user.is_authenticated %}
        <div class="col-12 col-md-6">
            <h5>Add your review of the product</h5>
            <form action="{% url 'product_detail' product.id %}" method="POST">
                {% csrf_token %}
                {{product_rating_form.title|as_crispy_field}}
                {{product_rating_form.rating|as_crispy_field}}
                {{product_rating_form.comment|as_crispy_field}}
                <button class="btn btn-green" type="submit">Submit</button>
            </form>
        </div>
        {% else %}
        <p><a class="text-green" href="{% url 'account_login' %}">Login</a> to write a review on the product</p>
        {% endif %}
    </div>
  </section>
{% endblock %}