{% extends 'base.html' %}
{% load static %}


{% block content %}

{% load crispy_forms_tags %}
    <section class="container bg-creamy py-1">
    <div class="row my-5">
        <div class="col-12 col-md-6">
            {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ prodcut.name }}">
                {% else %}
                    <img src="https://cdn.pixabay.com/photo/2016/08/04/09/05/coming-soon-1568623__340.jpg" alt="image comming soon">
                {% endif %}
        </div>
        <div class="col-12 col-md-6">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }}</p>
            <p>
                {{ product.description }}
            </p>
            <button class="btn btn-green">Add to bag</button>
        </div>
    </div>
  </section>
  <section class="container-fluid my-3">
    <h3>Customer Reviews</h3>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h5>Add your review of the product</h5>
            <form action="{% url 'product_detail' product.id %}" method="POST">
                {% csrf_token %}
                {{product_rating_form.title|as_crispy_field}}
                {{product_rating_form.rating|as_crispy_field}}
                {{product_rating_form.comment|as_crispy_field}}
                <button class="btn btn-green" type="submit">Submit</button>
            </form>
        </div>
    </div>
  </section>

  <section class="container-fluid my-3">
    <h1>You may also like:</h1>
    <div class="row">
        {% for product in related_products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch my-3">
            <div class="card product-card">
                <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ prodcut.name }}">
                {% else %}
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/08/04/09/05/coming-soon-1568623__340.jpg" alt="image comming soon">
                {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }} - {{ product.price }}$</h5>
                    <div>
                        <p class="card-text">This is a test for the products cards</p>
                    </div>
                    <a class="btn btn-green my-3" href="#">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </section>
{% endblock %}