{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="container-fluid bg-creamy">
    <div class="row">
        <div class="col">
            <h2><u>Products</u></h2>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto text-center">
           <h3>{{ category.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <ul class="list-group list-group-horizontal subcategories">
                {% for s in subcategories %}
                <li class="list-group-item">
                    <a class="btn btn-outline-green" href="{% url 'products' %}?category={{ category }}&subcategory={{ s.slug }}">
                        {{ s.name }}
                    </a>
                </li>
                {% endfor %}
              </ul>
        </div>
    </div>
  </section>
  <section class="container-fluid my-3">
    <div class="row">
        <div class="col d-flex justify-content-start">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort products
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                        href="{% url 'products' %}?sort=l2h{% if category is not None %}&category={{ category }}{% endif %}{% if subcategory is not None %}&subcategory={{ subcategory }}{% endif %}">
                        Pricelow to high
                    </a>
                    <a class="dropdown-item"
                        href="{% url 'products' %}?sort=h2l{% if category is not None %}&category={{ category }}{% endif %}{% if subcategory is not None %}&subcategory={{ subcategory }}{% endif %}">
                        Price High to low
                    </a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex align-items-stretch my-3">
            <div class="card product-card">
                <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ prodcut.name }}">
                {% else %}
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/08/04/09/05/coming-soon-1568623__340.jpg" alt="image comming soon">
                {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }} - ${{ product.price }}</h5>
                    {% if request.user.is_superuser %}
                    <a class="btn btn-green my-3" href="{% url 'edit_product' product.id %}">Edit</a>
                    
                    <!-- Button trigger modal -->
                    <button type="button" title="Delete Product" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ product.id }}">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body" id="myinput">
                            <p>Are you sure you want to delete this product?</p>
                            <p>This action <strong>cannot</strong> be undone!</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <a href="{% url 'delete_product' product.id %}" class="btn btn-primary">Yes</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% else %}
                    <a class="btn btn-green my-3" href="{% url 'product_detail' product.id %}">Add to cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </section>
{% endblock %}


