{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="container-fluid bg-creamy">
    <div class="row">
        <div class="col">
            <h2><u>Wishlist</u></h2>
        </div>
    </div>
</section>
<section class="container my-3">
    <div class="row my-2">
        <div class="col text-center"><i class="wishlist-icon fa-regular fa-heart"></i></div>
    </div>
    <div class="row my-2">
        <div class="col text-center">
            <h1>My Wishlist</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="container my-3">
            <div class="row px-3">
                {% if wishlist_of_user.count != 0 %}
                {% for obj in wishlist_of_user %}
                <div class="col-12 col-lg-6 my-3 d-flex justify-content-center align-items-center">
                    <div class="card product-card" style="width: 18rem;">
                        <a href="{% url 'product_detail' obj.wished_product.id %}">
                            {% if obj.wished_product.image %}
                                    <img class="card-img-top" src="{{ obj.wished_product.image.url }}" alt="{{ obj.wished_product.name }}">
                            {% else %}
                                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/08/04/09/05/coming-soon-1568623__340.jpg" alt="image comming soon">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.wished_product.name }} - ${{ obj.wished_product.price }}</h5>
                            <div>
                                <p class="card-text">{{ obj.wished_product.description }}</p>
                            </div>
                            <a class="btn btn-green my-3" href="#">
                                Add to cart
                            </a>
                            <a href="{% url 'remove_from_wishlist' obj.wished_product.id %}" title="Remove from wishlist" class="btn wishlist-btn"><i class="fa-regular fa-trash-can"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col d-flex justify-content-center align-items-center flex-column">
                    <h3>Your Wishlist is empty</h3>
                    <br>
                    <h5>Go to the <a class="text-center text-green" href="{% url 'products' %}">Shopping page</a> to add products to your wishlist</h5>
                </div>
                {% endif %}
            </div>
          </div>
    </div>
</section>
{% endblock %}